#app * {
    z-index: 10;
}

.backroudn_for_titles {
    /* width: 1280px;
    height: 61px; */
    background: #0050F5;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 61px;

}

.title_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Proxima Nova Condensed;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.title_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Proxima Nova Condensed;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.title_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Proxima Nova Condensed;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.main_background {
    width: 1500px;
    height: 794px;
    border-radius: 32px;
    background: #D9D9D9;
    flex-shrink: 0;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, .5);

}

.team_name {
    display: flex;
    width: 421px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Proxima Nova Condensed;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;


}

.score_background {
    width: 430px;
    height: 130px;
    border-radius: 34px;
    background: #0050F5;
    flex-shrink: 0;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);


}

.timer_background {
    width: 425px;
    height: 61px;
    flex-shrink: 0;
    border-radius: 35px;
    background: #d9d9d9cd;
    position: absolute;
    /* top: 16%; */
    left: 50%;
    transform: translate(-50%);

}

.timer {
    display: flex;
    width: 732px;
    height: 89px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: rgba(3, 3, 3, 0.75);
    font-family: Proxima Nova Condensed;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    position: absolute;
    top: -19%;
    left: 50%;
    transform: translate(-50%);

}

.score {
    display: flex;
    width: 727px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Proxima Nova Condensed;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.houses_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6px;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
    row-gap: 9px; */

}

.house_white {
    border-radius: 6px;
    background: #ffffff;
    flex-shrink: 0;
    width: 55px;
    height: 55px;
    /* width: 30.241px;
    height: 31.845px;
    border-radius: 5px;
    background: #FFF;
    flex-shrink: 0; */

}

.house_green {
    /* width: 18.413px; */
    /* height: 18.34px; */
    border-radius: 5px;
    background: #12B72D;
    flex-shrink: 0;
    width: 55px;
    height: 55px;
    /* border-radius: 5px;
    background: #12B72D;
    flex-shrink: 0; */

}

.streets_container {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

.street_label_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 82px;
    row-gap: 9px;
}

.street_label {
    color: rgba(114, 114, 114, 0.804);
    font-family: Proxima Nova Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #0050F5;
    font-family: Proxima Nova Condensed;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; */
    /* text-align: center; */
}

.skysraper_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 5px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%);
}

.skysraper_label {
    font-family: Proxima Nova Condensed;
    color: rgba(114, 114, 114, 0.804);
    font-weight: 600;
    text-align: center;
    /* display: flex;
    width: 496.768px;
    height: 53.617px;
    transform: rotate(-0.252deg);
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Proxima Nova Condensed;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%); */

}

.big_house_white {
    width: 70px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    flex-shrink: 0;

}

.big_house_green {

    width: 70px;
    height: 64px;
    border-radius: 8px;
    background: #12B72D;
    flex-shrink: 0;
}

.triangle_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 90px;
}

.triangle {
    /* fill: #FFF;
    width: 39.313px;
    height: 23.884px;
    flex-shrink: 0; */
    /* border-radius: 5px; */
    /* border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid rgb(255, 255, 255); */
    /* position: absolute;
    top: 47.2%;
    left: 50%; */
    /* transform: translate(-50%); */
    width: 0;
    border-radius: 7px;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid rgb(255, 255, 255);


}

.triangle_green {
    /* fill: #12B72D;
    width: 39.313px;
    height: 23.884px;
    flex-shrink: 0; */
    /* border-radius: 5px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #12B72D; */
    /* position: absolute;
    top: 47.2%;
    left: 50%; */
    /* transform: translate(-50%); */
    width: 0;
    height: 0;
    border-radius: 7px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid #12B72D;

}

.big_triangle {
    /* fill: #FFF;
    width: 67.979px;
    height: 36.557px;
    flex-shrink: 0; */
    /* width: 10;
    height: 10; */
    /* border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 50px solid rgb(255, 255, 255);
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px; */
    width: 0;
    border-radius: 5px;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 50px solid rgb(255, 255, 255);
}

.big_triangle_green {
    /* fill: #12B72D;
    width: 67.979px;
    height: 36.557px;
    flex-shrink: 0; */
    /* border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 50px solid #12B72D;
    position: absolute;
    top: 47.2%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px; */
    width: 0;
    border-radius: 5px;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 50px solid #12B72D;
}

.logo_left {
    width: 76px;
    height: 77px;
    background: url(/images/logo1.png), rgba(255, 255, 255, 0) 0% / cover no-repeat;
    flex-shrink: 0;
    position: absolute;
    top: 8%;
    left: .8%;

}

.logo_right {
    width: 76px;
    height: 77px;
    background: url(/images/logo2.png), rgba(255, 255, 255, 0) 0% / cover no-repeat;
    flex-shrink: 0;
    position: absolute;
    top: 8%;
    left: 96%;

}

.separator {
    width: 4px;
    height: 50px;
    border-radius: 6px;
    background: #FFF;
    flex-shrink: 0;

}

.blue_upper_background {
    width: 1500px;
    height: 114px;
    background: #0050F5;
    flex-shrink: 0;
    position: absolute;
    top: 16.1%;
    left: 50%;
    transform: translate(-50%);

}

.blue_upper_background_with_curve {
    width: 1500px;
    height: 73.895px;
    border-radius: 32px;
    background: #0050F5;
    flex-shrink: 0;
    position: absolute;
    top: 11.7%;
    left: 50%;
    transform: translate(-50%);
}

.clipped_el {
    position: relative;
    /* width: 400px;
    height: 150px; */
    background: rgb(255, 0, 0);
    width: 425px;
    height: 61px;
    flex-shrink: 0;
    border-radius: 35px;
}

.clipped_el:after {
    position: absolute;
    content: '';
    /* width: 425px;
    height: 61px;
    flex-shrink: 0; */
    /* border-radius:35px; */
    width: 500px;
    height: 300px;
    background: #ffffff00;
    left: 125px;
    /* border-bottom-right-radius: 90px;
    border-bottom-left-radius: 90px; */
}

.item {
    /* clip-path: circle(213px at center); */
    clip-path: inset(0 0 0 0 round 35px);
    background: rgba(191, 191, 191, 0);
    width: 425px;
    height: 61px;
    /* background-color: red; */
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
}
.item_for_widing{
    color: #fff;
    padding: 12px 0px;
    width: 530px;
    word-wrap: break-word;
    font-family: Proxima Nova Condensed;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    white-space: normal;
    text-align: center;
    flex-shrink: 0;
}
.w-300{
    box-sizing: border-box;
}
.table_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 440px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
}
.grid_for_team_names{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 18.4%;
    left: 50%;
    transform: translate(-50%);
}
.area {
    background: #1219a1;
    position: absolute;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

.circles{
    position: absolute;
    top: 2%;
    left: 0;
    width: 97%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 100px; /* Ширина изображения шестерёнки */
    height: 100px; /* Высота изображения шестерёнки */
    background-image: url('imggg.png'); /*  путь к картинки для анимации */
    background-size: cover; /* Растягиваем изображение на всю площадь элемента */
    animation: animate 25s linear infinite;
    bottom: -150px;
}


.circles li:nth-child(1){
    left: 25%;
    width: 110px;
    height: 110px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 110px;
    height: 110px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 110px;
    height: 110px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 5%;
    width: 110px;
    height:110px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 110px;
    height: 110px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 110px;
    height: 110px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 6%;
    width: 110px;
    height: 110px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 90%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
.water_animation_container {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  
  .water_animation_container .house_green {
    width: 100%;
    height: 25%; /* начальная высота, когда кубик пустой */
    background-color: green; /* цвет воды */
    transition: height 1s; /* добавляем плавное изменение высоты */
  }
  